<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user, class: 'button' %> 
<%= link_to 'Users', users_path, class: 'button' %>
<%= link_to 'Home', '/', class: 'button' %>